<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-center">
    <a class="p-2 mx-2 text-decoration-none fw-bold boton-nav" href="#">HOME</a>
    <a class="p-2 mx-2 text-decoration-none fw-bold boton-nav" [routerLink]="['/clientes']">CLIENTES</a>
    <a class="p-2 mx-2 text-decoration-none fw-bold boton-nav" href="#">SERVICES</a>
    <a class="p-2 mx-2 text-decoration-none fw-bold boton-nav" href="#">PROJECTS</a>
    <a class="p-2 mx-2 text-decoration-none fw-bold boton-nav" href="#">NEWS</a>
    <a class="p-2 mx-2 text-decoration-none fw-bold boton-nav" href="#">
      <i class="fa fa-search"></i>
    </a>
  </nav>
</div>

