<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark banner-custom">
  <div class="row flex-row justify-content-around align-content-center">
  <div class="row flex-row justify-content-around align-content-center">
    <div class="col-md-4 px-0">
      <h1 class="display-3 font-italic title_banner">BUSINESS SOLUTIONS</h1>
      <p class="lead my-3 subtitle-banner">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

      <p class="mt-4 w-300">
        <a href="#" class="font-weight-bold boton_banner">LARN MORE</a>
      </p>
    </div>
    <div class="col-1">

    </div>

  </div>
</div>
